body {
  background-color: #ffffff;
  font-size: 14px
  color: #333;
  margin: 0;
}
h1,h2,h3,h4,h5 {
  margin: 0 0 10px 0;
  padding: 0;
}
header {
  margin-top: 30px;
}
.container {
  width:1200px
  margin:0 auto 40px auto;
}
.header-title-area {
  margin-top: 40px
  margin-bottom: 30px;
}
.logo {
  font-size: 32px;
  text-align: center;
}
.header-navigation {
  width: 100%;
  background-color: #202020;
  padding: 20px 0;
}
.header-navigation:after {
  clear: both ;
  display: block;
  content: " ";
}
.header-navigation li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;

}
.header-navigation li a {
  color: #FFF;
  text-decoration: none;
}
.text-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.text-title a {
  color: #0000ff;
  text-decoration: none;
}
.card-contents {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
}
.left-contents {
  width: 700px;
  margin-right: 20px;
  float: left;
}
.right-contents {
  width: 500px;
  float: left;
}
.sample-blog:after {
  clear:both ;
  display: block;
  content: " ";
}
.sample-blog {
  width: 700px;
  margin-right: 35px;
}
.sample-blog:last-child {
  margin-right: 0;
}
.blog-image {
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  display: block;
  float: left;
}
.shincyaku {
  display: block;
}
.shincyaku a {
  color: #0000cd;
  text-decoration: none;
}
.image2 {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
}
.copyright {
  color: #777;
  text-align: center;
}
.main:after {
  clear: both;
  display: block;
  content: " ";
}
